@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
:root {
	--bg-light: #d6e6ff;
	--bg-button: #3c83da;
	--text: #3c3c3c;
	--text-primary: #3c83da;
	--heading: #3c4449;
	--line: #3c83da;
	--shadow: #bbd5ff;
}
body {
	margin: 0;
	overflow-x: hidden;
}
p {
	font-family: Sen;
}
button,
a {
	font-family: Sen !important;
	text-decoration: none !important;
	font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Sen;
	color: var(--heading);
	font-weight: 700 !important;
}
.line-break {
	height: 4px;
	width: 25%;
	margin: 0 auto;
	background-color: var(--line);
}
.basic-info-section {
	margin-top: 120px;
}
.basic-info-section h1 {
	font-size: 4rem;
}
.portfolio-name {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.text-highlight {
	color: var(--text-primary);
}
.mt-4 {
	margin-top: 16px;
}
.mt-2 {
	margin-top: 8px;
}
.mt-1 {
	margin-top: 4px;
}
.mb-4 {
	margin-bottom: 16px;
}
.mb-2 {
	margin-bottom: 8px;
}
.mb-1 {
	margin-bottom: 4px;
}
.button {
	letter-spacing: 0.75px;
	border-radius: 6px;
	font-weight: 700;
	background-color: var(--bg-button) !important;
	padding: 8px 24px;
	text-decoration: none !important;
	color: #ffffff !important;
	border: none;
}
.button:disabled {
	background-color: var(--shadow) !important;
	color: -internal-light-dark-color(
		rgba(16, 16, 16, 0.3),
		rgb(170, 170, 170)
	) !important;
	border-color: -internal-light-dark-color(
		rgba(118, 118, 118, 0.3),
		rgba(195, 195, 195, 0.3)
	) !important;
}
.loader-wrapper {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.section-heading {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: fit-content;
	background-image: linear-gradient(
		0deg,
		#d8d8d8 0,
		#d8d8d8 40%,
		transparent 40%,
		transparent
	);
}
.section-heading:hover {
	background-image: linear-gradient(
		0deg,
		#d5d5d5 0,
		#d5d5d5 30%,
		transparent 0,
		transparent
	);
}
.main-section {
	margin-top: 120px;
}
.main-section ul {
	list-style: none;
	padding: 0;
}
.main-section .card {
	margin-bottom: 16px;
	padding: 20px;
	color: #424242;
	border: 1.2px solid var(--line);
	box-sizing: border-box;
	border-bottom-width: 4px;
	border-radius: 8px;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16); */
}
.tag {
	background-color: var(--bg-light);
	font-weight: 700;
	font-size: 12px;
	color: var(--text-primary);
	border-radius: 4px;
	padding: 4px 8px;
}
.description {
	margin-bottom: 0;
}

.blog-section {
	margin-top: 120px;
}

.blog-section .card {
	margin-bottom: 16px;
	padding: 16px !important;
	padding-left: 0 !important;
	box-sizing: border-box;
	color: #424242;
	border: none;
	cursor: pointer;
	border-right: 6px solid transparent;
	transition: 0.7s all ease;
}

.blog-section .card:hover {
	padding: 16px !important;
	border-right: 6px solid var(--line);
	background-color: var(--shadow);
}

.blog-section .card a {
	text-decoration: none !important;
	color: initial !important;
}

.blog-section ul,
.blog-section li {
	padding: 0 !important;
}

.blog-section .card h5 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.ach-section {
	margin-top: 120px;
}

.ach-section .card {
	padding: 16px !important;
	padding-left: 0 !important;
	box-sizing: border-box;
	color: #424242;
	border: none;
	cursor: pointer;
	border-right: 6px solid transparent;
	transition: 0.7s all ease;
}

.ach-section .card:hover {
	padding: 16px !important;
	border-right: 6px solid var(--line);
	background-color: var(--shadow);
}

.ach-section ul,
.ach-section li {
	padding: 0 !important;
}

.ach-section .card p {
	font-family: Sen;
	margin-bottom: 0;
}

.input-email {
	border: 2.4px solid var(--text);
	border-radius: 8px;
	padding: 12px 20px;
	font-size: 14px;
	font-weight: 700;
	font-family: Sen !important;
	transition: 0.4s all ease;
}

.input-email:focus,
.input-email:active,
.input-email:hover {
	border: 2.4px solid var(--bg-button);
}

.input-email::placeholder {
	color: var(--shadow);
	font-weight: 700;
	text-transform: uppercase;
}

.contact-section {
	margin-top: 120px;
	margin-bottom: 120px;
}

.contact-section form {
	display: flex;
	flex-direction: column;
}

.message {
	border-radius: 8px;
	font-family: Sen;
	font-size: 14px;
	transition: 0.4s all ease;
	color: var(--text);
	border: 2.4px solid var(--text);
	font-weight: 700;
	padding: 12px 20px;
}

.message:focus,
.message:active,
.message:hover {
	border: 2.4px solid var(--bg-button);
}

.flex-contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.link {
	text-decoration: none !important;
	font-weight: 700;
	font-family: Sen;
	color: var(--text);
	color: var(--text-primary);
	transition: 0.2 all ease;
}

.link:hover,
.link:focus,
.link:active {
	border-bottom: 2px solid var(--heading);
}

.social-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.social-icons a {
	font-size: 1.75em;
	color: var(--text-primary);
}

.credits {
	color: var(--text-primary);
	font-weight: 700;
}

@media (max-width: 640px) {
	.responsive {
		margin-top: 120px;
	}
	.front-image-responsive {
		display: none;
	}
}

.pro-section {
	margin-top: 120px;
}

.pro-section .card {
	border: none;
	padding: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.pro-section .card p {
	font-size: 14px !important;
}
